body{
    font-family: monospace;
}

.navbar-brand{
    width: 200px;
}

.container{
    width: 100%;
    height: auto;
    line-height: 2rem;
    background-color: rgb(243, 243, 243);
}

.form{
    text-align: center;
}

.banner{
    line-height: 2rem;
    background-color: rgb(243, 243, 243);
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(243, 243, 243);
    padding: 10px;
}

.grid-item {
    margin: 20px;
    background-color: rgb(243, 243, 243);
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
}

img{
    width: 350px;
}